<h2>注文内容確認</h2>

<h3>注文内容</h3>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order[0] %></td>
        <td><%= order[1].amount %>つ</td>
        <td><%= order[1].subtotal %> 円</td>
      </tr>
    <tbody>
  <% end %>
  <tbody>
    <tr>
      <td>送料</td>
      <td></td>
      <td><%= session[:order]["postage"] %> 円</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>合計</td>
      <td></td>
      <td><h4><%= session[:order]["total_price"] %> 円</h4></td>
    </tr>
  </tbody>
</table>


<h3>支払方法</h3>
<%= session[:order]["payment_way"] %>

<h3>お届け先</h3>
<table>
  <thead>
    <tr>
      <th>受取人氏名</th>
      <th>郵便番号</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= session[:order]["recipient_name"] %></td>
      <td><%= session[:order]["postal_code"] %></td>
      <td><%= session[:order]["address"] %></td>
    </tr>
  <tbody>
</table>

<%= link_to "注文を確定する", public_orders_path, :method => :post %> | 
<%= link_to "詳細を選択し直す", new_public_order_path %>
