<h2>購入情報確認画面</h2>
<% if flash[:none] %>
  <%= flash[:none] %>
<% end %>
<%= form_with url: public_orders_register_path, method: :post do |f| %>
  <h3>支払方法</h3>
  <p>
    <%= f.radio_button :payment_way, "クレジット" %>クレジット
    <%= f.radio_button :payment_way, "着払い" %>着払い
    <%= f.radio_button :payment_way, "銀行振込" %>銀行振込
  </p>

  <h3>お届け先</h3>
  <table>
    <thead>
      <tr>
        <th>
        <th></th>
        <th>受取人氏名</th>
        <th>郵便番号</th>
        <th>住所</th>
      </tr>
    </thead>
    <% @addresses.each do |address| %>
      <tbody>
        <tr>
          <td></td>
          <td><%= f.radio_button :address, address.id %></td>
          <td><%= address.recipient_name %></td>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
        </tr>
      <tbody>
    <% end %>
    <tbody>
        <tr>
          <td>自宅へ</td>
          <td><%= f.radio_button :address, 0 %></td>
          <td><%= current_end_user.last_name %> <%= current_end_user.first_name %></td>
          <td><%= current_end_user.postal_code %></td>
          <td><%= current_end_user.address %></td>
        </tr>
      <tbody>
  </table>

  <%= f.submit "注文確認画面へ"%>
<% end %>

<h3>支払先新規登録</h3>
<%= form_with model: @address, url: public_orders_address_path do |f|%>
  <p>
    受取人氏名<br>
    <%= f.text_field :recipient_name %>
  </p>
  <p>
    郵便番号<br>
    <%= f.text_field :postal_code %>
  </p>
  <p>
    住所<br>
    <%= f.text_field :address %>
  </p>
  <%= f.submit "配送先新規登録"%>
<% end %>